* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-box {
  background-color: rgb(182, 221, 255);
  padding: 2%;
  width: 50%;
}
